# Lazarus project files
*.lps                   # Local session file
*.compiled              # File indicating the project has been compiled
*.local                 # User-specific local files
*.identcache            # Identification cache
*.o                     # Object file
*.ppu                   # Compiled Pascal unit

# Binary files (safe to delete)
*.exe
*.dll
*.so                    # Linux libraries
*.dylib                 # MacOS libraries
*.apk                   # Android
*.dcu                   # Compiled Delphi unit (if mixed project)

# Directories
backup/                 # Backup folders created by Lazarus
lib/                    # Folders containing compiled files
debug/                  # Debug files
release/                # Release version files
__history/              # Modification history
__recovery/             # Recovery files

# Temporary files and backups
*~                      # Temporary backup files
*.~*                    # Backups
*.bak                   # Backup files
.DS_Store               # MacOS system files

# Statistics and log files
*.stat                  # Statistics files
